# Environment variables for Health Analysis System
# Copy this file to .env and fill in your actual values

# Database Configuration
DATABASE_URL=postgresql://username:password@localhost:5432/health_analysis



SUPABASE_URL=link
SUPABASE_KEY=key

# OpenAI API Configuration
OPENAI_API_KEY=your_openai_api_key_here

# Optional: Set to development or production
NODE_ENV=development 

OPENAI_API_KEY=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



# API Configuration
HOS_FAPI_BASE_URL=https://hos-fapi-hm-sahha.onrender.com
USE_API=true